:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(45deg, #bf379d, #6d1bca, #cf2cef);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  color: #333;
  overflow-x: hidden;
}

/* Gradient Background Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
